<div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" data-route="#" href="/office"><img
					src="/office/assets/images/logo.square.clear.png"></a> <a
					class="navbar-brand" data-route="#" href="/office">Office</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<% if (isLoggedIn) { %>
					<li data-app-location="dash"><a data-route="#dash"
						href="/office/dash">Dashboard</a></li>
					<li data-app-location="member" class="dropdown-split-left">
					<li class="dropdown-split-right hidden-phone" data-app-location="member.home"><a href=""
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">Member <span
							class="caret"></span></a>
						<ul class="dropdown-menu pull-right">
							<li data-app-location="member.home"><a href="/office/member" data-route="#member">Home</a></li>
							<li role="separator" class="divider"></li>
							<li data-app-location="member.import"><a
								data-route="#member/import"
								href="/office/member/applications">Import</a></li>
							<li data-app-location="member.all"><a
							<li role="separator" class="divider"></li>
								data-route="#member/all" href="/office/member/all">List</a></li>
							<li data-app-location="member.applications"><a
								data-route="#member/applications"
								href="/office/member/applications">Applications</a></li>
							<li data-app-location="member.current"><a
								data-route="#member/current" href="/office/member/current">View
									current</a></li>
							<li data-app-location="member.create"><a
								data-route="#member/create" href="/office/member/create">Create</a></li>
						</ul></li>
					</li>
					<% } %>
				</ul>
				<% if (isLoggedIn) { %>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" id="member-typeahead" class="typeahead form-control"
							placeholder="Search for members...">
					</div>
				</form>
				<% } %>
				<ul class="nav navbar-nav navbar-right">
					<% if (isLoggedIn) { %>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><img class="userProfileImage"
							src="<%= userProfile.picture %>" /> <%= nickname %> <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<!-- <li role="separator" class="divider"></li> -->
							<% if (isLoggedIn) { %>
							<li><a class="btn-logout" href="#">Logout</a></li> <% } %>
						</ul></li> <% } else { %>
					<li><a class="btn-login">Login</a></li> <% } %>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</div>