<div>
	<div id="homeContent">
		<p>Welcome to the GTC Office</p>
		<p>Use the navigation menu to move around the application</p>
	</div>
	<% if (optionalMessage) { %><div><%= optionalMessage %></div><% } %>
	
	<div id="login">
		<form class="form-signin">
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="rememberMe"> Remember me
			  </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
	</div>
</div>